.radar{
    width: 30%;
    height: 268px;
    margin-top: 3%;
    background-color: #282D30;
    border-radius: 5px;
    @media (max-width: 1024px)
    {
        width:33%;
        height: 258px;
    }
    .recharts-surface{
       position: relative;
        top: 4%;
        right: 1%;
        .recharts-text{
            font-size: 10px;
            line-height: 24px;
            @media (max-width: 1024px)
            {
                font-size: 9px;
            }
            @media (max-width: 768px)
            {
                font-size: 9px;
            }
        }
        .angleAxis{
            display:none; 
        }
        
    }
}