.info{
    display: flex;
    flex-direction: column;
    .type{
        display: flex;
        flex-direction: row;
        background-color: #FBFBFB;
        margin-bottom: 15%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;
        img{
            margin: 4px;
        }
    }
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .type{
        height: 124px;
        width: 258px;
        border-radius: 5px;
        align-content: center;
        @media (max-width: 1024px)
        {
            height: 117px;
            width: 218px;
        }
       &:last-child{
        margin: 0;
       }
        .cardInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            .score{
                line-height: 24px;
                h4, p{
                    margin: 0;
                }
            }
        }
    }
   
  }